@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  @apply bg-zinc-300;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-700;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-900;
}

pre,
code {
  font-family: Consolas, Monaco, monospace;
  justify-content: start;
  text-align: start;
  font-size: 14px !important;
}

.tiptap blockquote {
  border-left: 3px solid rgba(#0d0d0d, 0.1);
  padding-left: 1rem;
}

.tiptap {
  text-align: start !important;
}

.link-styles {
  @apply hover:underline px-2 py-1 rounded-md cursor-pointer text-zinc-800 hover:bg-zinc-900 hover:text-white transition-all hover:scale-105;
}
